/POE/Parcial_1/HolaMundoJava/nbproject/private/
/POE/Parcial_1/HolaMundoJava/build/
/POE/Parcial_1/JavaVisual/nbproject/private/
/POE/Parcial_1/JavaVisual/build/
/POE/Parcial_1/Practica01/nbproject/private/
/POE/Parcial_1/Practica01/build/
/POE/Parcial_1/Practica02/nbproject/private/
/POE/Parcial_1/Practica2/nbproject/private/
